*{
    font-family: 'Roboto', sans-serif;
}

.model-list {
    border: 1px solid black;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.model-list-item {
    border-radius: 0.25rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid black;
    width: 5rem;
    height:5rem;

    /* https://stackoverflow.com/a/22218694/7092409 */
    align-items: center;    
    justify-content: center;

    display: flex;
    flex-direction: column;
}

.model-list-item-snapshot {
    display: flex;
    /* https://stackoverflow.com/questions/3029422/how-do-i-auto-resize-an-image-to-fit-a-div-container */
    max-width:100%;
    max-height:100%;
}